# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/

# Ignore IDE specific files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package lock files
# package-lock.json
# yarn.lock

# Ignore .env files
.env

# Ignore .DS_Store files
.DS_Store

# Ignore .vscode settings
.vscode/settings.json

# Ignore vendor directory
vendor/

# Ignore db.json file on /config
config/db.json