body {
    background-color: grey;
}

#contenido {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textoContacto {
    display: flex;
    transition: 1.0s ease;
    background-color: rgba(255, 255, 255, 0.5);
    /* padding: 30px; */
    border-radius: 30px;
    flex-direction: column;
    padding: 30px;
}

.textoContacto button {
    transition: 1.0s ease;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
}

.textoContacto button:hover {
    opacity: 0.7;
}

.casilla{
    width: 100%;
}

#mensaje {
    max-height: 300px;
    min-height: 100px;
    max-width: 370px;
    min-width: 370px;
}


/*Modo para moviles*/
/* Media query para pantallas pequeñas */
@media screen and (max-width: 1200px) {

    .contenedor {
        margin: 15px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        animation: animacionColorFondo 6s linear infinite alternate;
    }

    #contenido {
        padding: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .textoContacto button {
        transition: 1.0s ease;
        background-color: rgba(255, 255, 255, 1);
        font-size: 15px;
        padding: 15px;
        border-radius: 15px;
        width: 300px;
    }
    
    .textoContacto button:hover {
        opacity: 0.7;
    }
    
    #mensaje {
        max-height: 300px;
        min-height: 100px;
        max-width: 300px;
        min-width: 150px;
    }

    .casilla{
        width: 300px;
    }

    h2{
        font-size: 27px;
    }
}