* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --white: #fff;
    --red: #f4242f;
    --yellow: #ffeb3b;
    --blue: #2196f3;
    --blur-grey: #ffffff80;
    --blur-greySoft: #ffffff40;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: grey;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.05s;
}

body.crearCuenta::after {
    opacity: 1;
}

.contenedor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 340px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}

body.crearCuenta .contenedor {
    height: 430px;
}

.contenedor::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--grados), #45f3ff 0%,
            #45f3ff 10%, transparent 10%, transparent 80%, #45f3ff 100%);
    animation: animacion 2.5s linear infinite;
}

@property --grados {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animacion {
    0% {
        --grados: 0deg
    }

    100% {
        --grados: 360deg
    }
}

.contenedor__efectos {
    position: absolute;
    inset: 5px;
    overflow: hidden;
    border-radius: 15px;
}

.contenedor__efectos::before {
    content: '';
    position: absolute;
    inset: 5px;
    background: url(../img/FondoIndexClaro.mp4);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    border-radius: 20px;
}

.contenedor__efectos::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: url(../img/background-montain.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
}

body.crearCuenta .contenedor__efectos::before,
body.crearCuenta .contenedor__efectos::after {
    background: url(../img/background-montain-four.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
}

body.crearCuenta .contenedor::before {
    filter: hue-rotate(270deg);
}

form {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    transition: 0.5s;
}

form#registro {
    left: 100%;
}

body.crearCuenta form#inicioSesion {
    left: -100%;
}

body.crearCuenta form#registro {
    left: 0;
}

.formulario__titulo {
    position: relative;
    color: var(--white);
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

form .inputBox {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

body.crearCuenta form .inputBox {
    justify-content: center;
}

form .inputBox p {
    margin-right: 10px;
    cursor: default;
}

form .inputBox a,
form .inputBox p {
    color: var(--white);
    text-decoration: none;
    font-size: 0.85em;
}

form .inputBox #crearCuenta {
    text-decoration: underline;
}

form .inputBox input {
    width: 100%;
    outline: none;
    border: 1px solid var(--blur-greySoft);
    background: rgba(0, 0, 0, 0.15);
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 0.85em;
    color: var(--white);
}

form .inputBox input::placeholder {
    color: var(--blur-grey);
}

form .inputBox .botonConectarse {
    background: var(--blue);
    font-weight: 500;
    cursor: pointer;
}

form#registro .inputBox .botonCrear {
    background: var(--red);
    cursor: pointer;
}

#conectarCuenta {
    font-weight: 500;
    color: var(--yellow);
    text-decoration: underline;
}