@font-face {
  font-family: popText;
  src: url(../img/fonts/PopArt-Regular.ttf);
}

video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* CABECERA */
#header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
  /* background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#logo {
  font-size: 32px;
  text-decoration: none;
  font-weight: 550;
  font-family: popText, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textoCabecera {
  color: black;
}

.navbar a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  /* Cambiar en modo oscuro tmbn */
  color: black;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

#modo-oscuro {
  cursor: pointer;
}

/* 
    #modoOscuro{
        margin-left: 40px;
        height: 20px;
        width: 20px; 
    }	
    */
/* CABECERA */



/* CUERPO */

/* CUERPO */

#apartado {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Bloque del iframe para busquedas embed */

.contenedorBuscar {
  grid-column: 3 / span 2;
  grid-row: 2 / span 4;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contenedorBuscar>h3 {
  color: white;
}

.barraBusqueda {
  position: relative;
  width: 100%;
}

.barraBusqueda .inputBuscador {
  width: 70%;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--grey-light);
  outline: none;
  font-size: 1.1em;
  border-radius: 30px;
}

.barraBusqueda .barraBusqueda__icono {
  position: absolute;
  top: 0;
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 23px 30px;
  pointer-events: none;
}

.boton__buscar {
  margin: 10px;
  padding: 10px;
  color: var(--grey);
  font-size: 1.1em;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.boton__buscar:hover {
  border: 1px solid var(--grey-light);
  transition: 1.5s;
}

iframe {
  margin-top: 15px;
}

.iframeBuscador {
  width: 70%;
  height: 100%;
}

.contenedor {
  margin: 45px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animacionColorFondo 6s linear infinite alternate;
}

@keyframes animacionColorFondo {

  0%,
  100% {
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;

  }
}

#contenido {
  display: grid;
  grid-template-areas: "recomendado restoPagina" ;
  grid-template-columns: 1fr 3fr;
}

#recomendado {
  grid-area: recomendado;
}



#restoPagina {
  grid-area: restoPagina;
  display: grid;
  grid-template-areas: "buscador buscador" "tendencia zonaAmigos" "valoraciones valoraciones";
  grid-template-columns: 1fr 1fr;

}

#valoraciones {
  grid-area: valoraciones;
  display: grid;
  grid-template-areas: "valoracionesListas valoracionesValoraciones";
  grid-template-columns: 1fr 2fr;

}

#valoracionesListas{
  grid-area: valoracionesListas;
}

#valoracionesValoraciones{
  grid-area: valoracionesValoraciones;
}

#buscador {
  grid-area: buscador;
  height: 300px;
  width: 100%;
}

#buscador iframe {
  height: 70%;
}

#tendencia {
  grid-area: tendencia;
}

#tendencia iframe {
  height: 400px;
}

#zonaAmigos {
  grid-area: zonaAmigos;
}

#zonaAmigos iframe {
  height: 400px;
}

#textoValoraciones{
  padding: 30px;
  margin: 20px;
  background-color: #ffffff79;
  border-radius: 20px;
}

