body {
  background-color: grey;
}

/* CUERPO */

#apartado {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Bloque del iframe para busquedas embed */

.contenedorBuscar {
  grid-column: 3 / span 2;
  grid-row: 2 / span 4;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contenedorBuscar>h3 {
  color: white;
}

.barraBusqueda {
  position: relative;
  width: 100%;
}

.barraBusqueda .inputBuscador {
  width: 70%;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--grey-light);
  outline: none;
  font-size: 1.1em;
  border-radius: 30px;
}

.barraBusqueda .barraBusqueda__icono {
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding: 10px;
  pointer-events: none;
}

iframe {
  margin-top: 15px;
}

.iframeBuscador {
  width: 70%;
  height: 100%;
}

.contenedor {
  margin: 45px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animacionColorFondo 6s linear infinite alternate;
}

@keyframes animacionColorFondo {

  0%,
  100% {
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 10px;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;

  }
}

#contenido {
  display: grid;
  grid-template-areas: "recomendado restoPagina" ;
  grid-template-columns: 1fr 3fr;
}

#recomendado {
  grid-area: recomendado;
}

#restoPagina {
  grid-area: restoPagina;
  display: grid;
  grid-template-areas: "buscador buscador" "tendencia valoraciones";
  grid-template-columns: 1fr 1fr;

}

#valoraciones {
  grid-area: valoraciones;
  display: grid;
  grid-template-areas: 
    "valoracionesListas"
    "valoracionesValoraciones";
  grid-template-rows: auto auto; /* Ajusta la altura de las filas según sea necesario*/
}

#valoracionesListas{
  grid-area: valoracionesListas;
}

#valoracionesValoraciones{
  grid-area: valoracionesValoraciones;
  padding: 30px;
  margin: 20px;
  background-color: #ffffff79;
  border-radius: 20px;
} 

#buscador {
  grid-area: buscador;
  display: grid;
  grid-template-areas: "lupaBuscador valoracionesBuscador";
  grid-template-columns: 1fr 1fr;
}

#lupaBuscador {
  grid-area: lupaBuscador;
  margin: 45px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animacionColorFondo 6s linear infinite alternate;
}

#valoracionesBuscador {
  grid-area: valoracionesBuscador;
  margin: 45px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animacionColorFondo 6s linear infinite alternate;
}


#tendencia {
  grid-area: tendencia;
}

#tendencia iframe {
  height: 400px;
}


/*Modo para moviles*//* Media query para pantallas pequeñas */
@media screen and (max-width: 1200px) {

  .contenedor {
    margin: 15px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animacionColorFondo 6s linear infinite alternate;
  }

  #contenido {
    display: grid;
    grid-template-areas: "recomendado" "restoPagina" ;
    grid-template-columns: 1fr;
  }

  #recomendado {
    grid-area: recomendado;
    height: 400px; /* Altura específica para la sección recomendada */
    overflow-y: auto; /* Agrega un desbordamiento vertical con barra de desplazamiento si es necesario */
  }

  #restoPagina {
    grid-area: restoPagina;
    display: grid;
    grid-template-areas: "buscador" "tendencia" "valoraciones";
    grid-template-columns: 1fr;
  
  }

  #buscador {
    grid-area: buscador;
    display: grid;
    grid-template-areas: 
      "lupaBuscador"
      "valoracionesBuscador";
      grid-template-columns: 1fr;
      width: 100%;
  }

  #lupaBuscador{
    grid-area: lupaBuscador;
    margin: 15px;

  }
  #valoracionesBuscador {
    grid-area: valoracionesBuscador;
    margin: 15px;

  }

  #tendencia {
    grid-area: tendencia;
  }

  #valoraciones {
    grid-area: valoraciones;
    display: grid;
    grid-template-areas: 
      "valoracionesListas"
      "valoracionesValoraciones";
    grid-template-rows: auto auto; /* Ajusta la altura de las filas según sea necesario*/
  }

  #valoracionesListas{
    grid-area: valoracionesListas;
  }

  #valoracionesValoraciones{
    grid-area: valoracionesValoraciones;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff79;
    border-radius: 15px;
    font-size: 10px;
  }
}
