@font-face {
    font-family: popText;
    src: url(../img/fonts/PopArt-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

:root {
    --grey: #555;
    --grey-light: #ccc;
}

/* CABECERA */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    background: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 32px;
    text-decoration: none;
    font-weight: 550;
    font-family: popTextImpact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textoCabecera {
    color: black;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-family: "Poppins", sans-serif;
    transition: color 0.5s ease;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    /* Cambiar en modo oscuro tmbn */
    color: black;
    background: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

#modo-oscuro {
    cursor: pointer;
}

/* CABECERA */


body {

    background-image: url(../img/music-background-multicolored.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1% 33% 1% 33% 1% 30% 1%;
    grid-template-rows: 10% 36% 1% 36% 1% 15%;
    height: 96vh;
    width: 95%;
    gap: 10px;
}

.contenedor__perfil {
    grid-column: 6;
    grid-row: 1;
    display: flex;
    justify-content: end;
    max-width: 95%;
    max-height: 240px;
    margin: 10px;
}

.iframe__style {
    border-radius: 12px;
    width: 100%;
    height: 352px;
}

.iframe1 {
    grid-column: 2;
    grid-row: 2;
}

.iframe2 {
    grid-column: 2;
    grid-row: 4;
}

.iframe3 {
    grid-column: 4;
    grid-row: 2;
}

.iframe4 {
    grid-column: 4;
    grid-row: 4;
}

.contenedorBuscar {
    grid-column: 6;
    grid-row: 2 / span 3;
    width: 580px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorBuscar>h3 {
    color: white;
}

.barraBusqueda {
    position: relative;
    width: 100%;
}

.barraBusqueda .inputBuscador {
    width: 80%;
    margin: 10px;
    padding: 10px 40px 10px 60px;
    border: 1px solid var(--grey-light);
    outline: none;
    font-size: 1.1em;
    border-radius: 30px;
}

.barraBusqueda .barraBusqueda__icono {
    position: absolute;
    top: 0;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 23px 30px;
    pointer-events: none;
}

.boton__buscar {
    margin: 10px;
    padding: 12px 20px;
    color: var(--grey);
    font-size: 1.1em;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.boton__buscar:hover {
    border: 1px solid var(--grey-light);
    transition: 1.5s;
}

.iframeBuscador {
    width: 460px;
    height: 560px;
}