@font-face {
  font-family: popText;
  src: url(../img/fonts/PopArt-Regular.ttf);
}
video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* CABECERA */
#header {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#logo {
  font-size: 32px;
  text-decoration: none;
  font-weight: 550;
  font-family: popText, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.textoCabecera {
  color: black;
}

/* Para poder hacer el navbar de bootstrap transparente */
.navbar {
  background-color: transparent !important;
}

.navbar a {
  color:black !important;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none ;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  /* Cambiar en modo oscuro tmbn */
  color: black;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

#modo-oscuro {
  cursor: pointer;
}

body {
  background-color: grey;
}

/* CUERPO */

.contenedor{
  margin: 50px;
  display: grid;
  grid-template-areas: "contenido reproductor";
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}

#contenido {
  grid-area: contenido;
  padding: 50px;
  background-color: #ffffff8f;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
}

#contenido h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

#reproductor{
  grid-area: reproductor;
}

#spotifyApi {
  max-width: 300px;
  padding: 50px;
  background-color: #ffffff8f;
  border-radius: 30px;
  margin: 15px;
  opacity: 1;
}

.textoSpotify {
  transition: 1.0s ease;
}

.formaSpotify {
  transition: 1.0s ease;
}

@media screen and (max-width: 1200px) {

  #logo {
  font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  #header {
    padding: 20px 10px;
  }

  .navbar {
    justify-content: center;
    width: 100%;
  }

  .navbar a {
    margin: 0 10px;
  }
  .contenedor{
    display: grid;
    grid-template-areas: "contenido" "reproductor";
    grid-template-columns: 1fr;
    margin: 10px;
    gap: 10px;
  }
  
  #contenido {
    grid-area: contenido;
    padding: 20px;
    background-color: #ffffff8f;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
  }
  
  #contenido h2 {
    font-size: 25px;
  }
  
  #reproductor {
    grid-area: reproductor;
    overflow-x: scroll;
    white-space: nowrap;
  }

  #reproductor iframe {
    display: inline-block;
    width: 100%;
    max-width: 800px;
  }


  #spotifyApi {
    max-width: 200px;
    padding: 10px;
    background-color: #ffffff8f;
    border-radius: 30px;
    margin: 15px;
    opacity: 1;
  }

}