body {
  background-color: grey;
}

/* CUERPO */

.contenedor{
  margin: 50px;
  display: grid;
  grid-template-areas: "contenido reproductor";
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}

#contenido {
  grid-area: contenido;
  padding: 50px;
  background-color: #ffffff8f;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
}

#contenido h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

#reproductor{
  grid-area: reproductor;
}

#spotifyApi {
  max-width: 300px;
  padding: 50px;
  background-color: #ffffff8f;
  border-radius: 30px;
  margin: 15px;
  opacity: 1;
}

.textoSpotify {
  transition: 1.0s ease;
}

.formaSpotify {
  transition: 1.0s ease;
}

@media screen and (max-width: 1200px) {

  .contenedor{
    display: grid;
    grid-template-areas: "contenido" "reproductor";
    grid-template-columns: 1fr;
    margin: 10px;
    gap: 10px;
  }
  
  #contenido {
    grid-area: contenido;
    padding: 20px;
    background-color: #ffffff8f;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
  }
  
  #contenido h2 {
    font-size: 25px;
  }
  
  #reproductor {
    grid-area: reproductor;
    overflow-x: scroll;
    white-space: nowrap;
  }

  #reproductor iframe {
    display: inline-block;
    width: 100%;
    max-width: 800px;
  }


  #spotifyApi {
    max-width: 200px;
    padding: 10px;
    background-color: #ffffff8f;
    border-radius: 30px;
    margin: 15px;
    opacity: 1;
  }

}