.contenedorSoporteParaValoraciones {
    /* border: 2px solid grey; */
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    /* background-color: rgba(80, 80, 80, 0.314); */
}

.cuadrado {
    /* border: 2px solid grey;  */
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.ratingBlock {
    /* border: 1px solid grey; */
    border-radius: 15px;
    text-align: center;
    width: 100%;
    background-color: #ffffff66;
    padding: 5px;
}

.ratingBlock textarea {
    width: 80%;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    opacity: 0.8;
    border: 0;
    text-align: center;
}

.ratingBlock button {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    opacity: 0.8;
    border: 0;
    text-align: center;
    background-color: #ffffff;
}

.rating-value{
    margin:5px;
    border-radius: 10px;
    font-size: 14px;
    background-color: rgba(22, 105, 172, 0.525);
    text-align: center;
    padding: 5px;
}

.star-rating {
    font-size: 25px;
    cursor: pointer;
}

.star {
    width: 20px;
    transition: filter 0.3s ease;
}

.star:hover,
.star.active {
    filter: brightness(20%);
}