@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

@font-face {
  font-family: notas;
  src: url(../img/fonts/Cute_Notes.ttf);
}

@font-face {
  font-family: espacial;
  src: url(../img/fonts/spacetime-regular.ttf);
}

@font-face {
  font-family: nubes;
  src: url(../img/fonts/Cotton_Cloud.ttf);
}

@font-face {
  font-family: lapiz;
  src: url(../img/fonts/Pencilized.ttf);
}

@font-face {
  font-family: neon;
  src: url(../img/fonts/neon2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --white: #f3f3f3;
  --yellow: #ffff00;
  --data-text: #0f2832;
  --title-text: #f9fbfad5;
  --background-user: #d4d5d6;
}

body {
  background-color: var(--white);
  width: 100%;
  height: 100%;
}

.contenedor-principal-menuUsuario {
  position: absolute;
  margin: 5%;
  display: grid;
  grid-template-areas: "usuario listas";
  grid-template-columns: 1fr 4fr;
  grid-gap: 50px;
  height: 80vh;
  width: 90%;
  z-index: 1;
}

.usuario {
  height: 80vh;
  text-align: center;
  grid-area: usuario;
  color: var(--white);
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.239);
  border-radius: 200px 200px 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0; 
}

.usuario h2 {
  margin-top: 40px;
  font-family: neon;
  font-size: 2em;
  color: black;
}

.usuario img {
  border-radius: 100%;
  margin-bottom: 20px;
}

.usuario #correo {
  margin-bottom: 20px;
  color:#0f2832;
}

.listas {
  display: grid;
  grid-area: listas;
  grid-template-areas: "valoraciones musica";
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.239);
  border-radius: 200px 200px 100px 100px;
  padding: 40px;
  padding: 100px;
}

.valoraciones {
  grid-area: valoraciones;
}

.valoracion {
  width: 100%; /* Hacer que la valoración ocupe todo el ancho disponible en su área */
  height: 200px;
  margin: 20px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.211);
  padding: 80px;
}

.musica {
  grid-area: musica;
}

.musica iframe{
margin: 10px;
}
