@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root {
  --white: #f3f3f3;
  --yellow: #ffff00;
  --data-text: #0f2832;
  --title-text: #f9fbfad5;
  --background-user: #d4d5d6;
}

body {
  background-color: var(--white);
  width: 100%;
  height: 100%;
}

.contenedor-principal-menuUsuario {
  position: absolute;
  margin: 1% 5% 4%;
  display: grid;
  grid-template-areas: "usuario listas";
  grid-template-columns: 1fr 4fr;
  grid-gap: 50px;
  height: 75vh;
  width: 90%;
  z-index: 1;
}

.usuario {
  text-align: center;
  grid-area: usuario;
  color: var(--white);
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.usuario h2 {
  margin-top: 40px;
  font-family: neon;
  font-size: 2em;
  color: black;
}

.usuario img {
  border-radius: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(60, 60, 60, 0.504);

}

.usuario #correo {
  margin-bottom: 20px;
  color: #000000;
}

.listas {
  grid-area: listas;
  display: grid;
  grid-template-areas: "valoraciones musica" "playlist playlist";
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 80px;
  padding: 40px;
}

.valoraciones {
  grid-area: valoraciones;
}

.valoracion {
  width: 100%;
  /* Hacer que la valoración ocupe todo el ancho disponible en su área */
  margin: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.211);
  padding: 10px;
}

.musica {
  grid-area: musica;
}

.playlists {
  grid-area: playlist;
}

#formBuscar {
  display: flex;
  justify-content: space-between;
}

#btnSubmit {
  width: 30%;
  border: 0;
  border-radius: 10px;
  background-color: rgb(147, 224, 245);
  box-shadow: 2px 2px 10px rgba(37, 37, 37, 0.702);
  padding: 3px;
}

#botonSolicitarAmistad,
#soisAmigos{
  border: 0;
  border-radius: 10px;
  margin: 15px;
  background-color: rgb(233, 251, 255);
  box-shadow: 2px 2px 10px rgba(37, 37, 37, 0.702);
  padding: 5px;
}

#tituloBuscarAmigos{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#buscadorUsuarios{
  border: 0;
  width: 60%;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(37, 37, 37, 0.702);
  padding: 5px;
}

#infoLogo {
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
}

#infoDesplegable {
  display: none;
  background-color: rgba(255, 255, 255, 0.576);
  padding: 15px;
  border-radius: 20px;
  margin: 15px;
}

.verPlaylists{
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
    justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.bloquePV{
  margin: 25px;
}


@media screen and (max-width: 1200px) {

  .contenedor-principal-menuUsuario {
    display: grid;
    grid-template-areas: "usuario" "listas";
    grid-template-columns: 1fr;
  }

  .usuario {
    text-align: center;
    grid-area: usuario;
    padding: 20px;
    border-radius: 300px 300px 40px 40px;
  }

  .usuario h2 {
    margin-top: 0;
    color: black;
  }

  .usuario img {
    border-radius: 100%;
    width: 170px;
  }

  .usuario #correo {
    color: #0f2832;
  }

  .usuario iframe {
    margin-top: 10px;
  }

  .listas {
    grid-area: listas;
    display: grid;
    grid-template-areas: "valoraciones" "musica" "playlist";
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.239);
    border-radius: 200px 200px 100px 100px;
    padding: 40px;
  }

  .valoraciones {
    grid-area: valoraciones;
  }

  .valoracion {
    width: 100%;
    /* Hacer que la valoración ocupe todo el ancho disponible en su área */
    margin: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.211);
    padding: 10px;
  }

  .musica {
    grid-area: musica;
  }

  .playlists {
    grid-area: playlist;
  }

}